{% extends "admin/change_form.html" %}

<!-- -->

{% block submit_buttons_bottom %}
<!-- -->
<div class="submit-row">
  <select id="step" name="step">
    <option value="0">Keycloak</option>
    <option value="1">Gitlab</option>
    <option selected value="2">Setup</option>
  </select>

  <input
    id="_rerun_step"
    name="_rerun_step"
    style="background: #a41515 !important"
    type="submit"
    value="Rerun Step"
  />

  <input
    id="_cancel_stack"
    name="_cancel_stack"
    style="background: #a41515 !important"
    type="submit"
    value="Cancel Stack"
  />

  <input
    id="_resume_stack"
    name="_resume_stack"
    type="submit"
    value="Resume Stack"
  />
</div>

<script>
  var input = document.getElementById("_cancel_stack");
  input.addEventListener("click", function (event) {
    if (confirm("Cancel the Stack deployment?") === false) {
      event.preventDefault();
    }
  });

  input = document.getElementById("_rerun_step");
  input.addEventListener("click", function (event) {
    var step = document.getElementById("step");
    switch (step.value) {
      case "0":
        step = "Keycloak";
        break;
      case "1":
        step = "Gitlab";
        break;
      case "2":
        step = "Setup";
        break;
    }

    if (confirm(`Rerun the stack from the ${step} step?`) === false) {
      event.preventDefault();
    }
  });
</script>

{{ block.super }}
<!-- -->
{% endblock %}
