{% extends 'base.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'core/base.js' %}"></script>
{% endblock %}


{% block breadcrumb %}
    <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h2 class="content-header-title float-left mb-0">Security Keys</h2>
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item"><a href="/credential-view/">Keys</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Complex headers table -->
    <section id="headers">
        <div class="row">
            <div class="col-12">
                <div>
                    
                    <button id="toolbar_action_revoke" class="btn btn-primary mb-2 waves-effect waves-light"
                            onclick="revoke_object();" ><strong><i class="feather icon-refresh-ccw"></i> Revoke </strong></button>

                    <button id="toolbar_action_save" class="btn btn-outline-primary mb-2 waves-effect waves-light"
                            onclick="save_object()" >
                        <strong><i class="feather icon-save"></i> Save </strong></button>




                </div>
                <div class="card">

                    <div class="card-header">
                        <h4 class="card-title">Client Server Key Pair</h4>
                    </div>
                    <form id="formView" action="" method="post">
                        {% csrf_token %}
                        <div class="card-content">
                            <div class="card-body card-dashboard">


                                <p class="font-medium-3 mb-2 mt-2" ></i> Key</p>
                                <fieldset class="form-label-group mb-0">
                                    <input data-length="20" name="api_key" type="text" value="{{object.api_key}}"  id="firstText"
                                           class="form-control char-textarea active"  placeholder="Provide a name"
                                           autocomplete="off" style="color: rgb(78, 81, 84);" disabled />
                                    <label for="firstText">ID</label>
                                </fieldset>

                                <p class="font-medium-3 mb-2 mt-2" ><i class="feather flag-icon-cl"></i> Secret</p>
                                <fieldset class="form-label-group mb-0">
                                    <input data-length="20" name="api_secret" type="password" value="{{object.api_secret}}"
                                           id="api_secret_id" class="form-control char-textarea active"
                                           placeholder="Provide a package"  autocomplete="off" style="color: rgb(78, 81, 84);" disabled/>
                                    <label for="secondText">Token</label>
                                    <div class="form-control-position">
                                        <i data-toggle="tooltip" data-placement="top" title="" data-original-title="Show" id="showHideSecret" class="feather icon-eye cursor-pointer" onclick="show_object()"></i>
                                    </div>
                                </fieldset>



                                <br>
                                <br>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--/ Complex headers table -->

{% endblock %}

{% block footer %}

    <script>
        function revoke_object() {
            const req = new Requests();
            const cm = new CookieManager();
            const header = {
                'X-CSRFToken':cm.getCookie('csrftoken'),
            }
            req.put('',[],header).then(function (){
                window.location.reload();
            });
        }

        function save_object() {
            var form = document.getElementById("formView");
            var input = document.createElement('input');//prepare a new input DOM element
            input.setAttribute('name', 'action');//set the param name
            input.setAttribute('value', 'save');//set the value
            input.setAttribute('type', 'hidden')//set the type, like "hidden" or other
            form.appendChild(input);
            form.submit();
        }

        function show_object() {
            var x = document.getElementById("api_secret_id");
            if (x.type === "password") {
                x.type = "text";
                $('#showHideSecret').attr('data-original-title', 'Hide').tooltip('show');
                $('#showHideSecret').removeClass('icon-eye').addClass('icon-eye-off');
            } else {
                $('#showHideSecret').attr('data-original-title', 'Show').tooltip('show');
                $('#showHideSecret').removeClass('icon-eye-off').addClass('icon-eye');
                x.type = "password";
            }
        }
    </script>

{% endblock %}
